# [MARSA MAROC] - Git Exclusion File

# Datasets & Big Data Cache (Medallion Layers)
data/
outputs/
spark-warehouse/
derby.log
metastore_db/
checkpoint/
.spark-st/

# Python Environment & Cache
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.pytest_cache/

# Frontend (React)
node_modules/
dist/
.eslintcache
.vite/

# IDE & System
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
